* {
  margin: 0;
  padding: 0;
}
html, body {
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background: #fcf1ee;
}
a:hover {
    text-decoration: none;
}
/******************************************************* NAVIGATION *************************************************************/
#mainNav {
    background-color: #fcf1ee;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    padding-top: 13px;
    padding-bottom: 13px;
}
.navbar-brand #logo {
    width: 150px;
}
.navbar-toggler {
  position: absolute;
  width: 40px;
  top: 27px;
  right: 30px;
  padding: 1px;
    border: 0;
  z-index: 1;
}
.navbar-toggler span {
  display: block;
  background: #231F20;
  width: 30px;
  height: 1px;
  transition: 300ms linear all;
}
.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  width: 15px;
}
.navbar-toggler span:nth-child(2) {
  width: 37px;
  margin: 5px 0;
}
.navbar-toggler span:nth-child(3) {
    float: right;
}
.navbar-toggler:hover span:nth-child(1),
.navbar-toggler:hover span:nth-child(3) {
  width: 35px;
}
.navbar-brand {
    margin-left: 0%;
}
.nav-link.active,
.nav-link:hover {
 color: #345e68 !important;
}
.nav-item a {
    padding: 7px 25px !important;
    font-size: 16px;
    color: #999;
    letter-spacing: 3px;
    font-family: 'Open Sans Condensed';
    text-transform: uppercase;
}
.nav-item a span {
    color: #231F20;
}
.navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item .icon-cart {
    width: 10%;
    color: #999;
}
.nav-item #cart:hover {
    color: #231F20 !important;
}
.nav-item ion-icon {
    font-size: 20px;
    color: #999;
}
.nav-item ion-icon:hover {
    color: #231F20;
}
/*************************************************** Hero-Page ***********************************************/
#hero {
    margin-top: 35%;
    padding-bottom: 35%;
}
.hero-intro {
    margin: 5%;
}
.hero-intro h1 {
    text-align: center;
    font-family: 'Anton';
    letter-spacing: 1px;
    margin-bottom: 5%;
    font-size: 40px;
    color: #122947;
}
.hero-intro h4 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 5%;
    font-size: 20px;
    color: #122947;
}
.hero-intro p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 5%;
    line-height: 1.5;
    font-size: 14px;
    color: #122947;
}
.hero-intro a {
    color: #122947;
}
.hero-intro a:hover {
    color: #979797;
}
.hero-intro .rotatethis {
    font-weight: 100;
    color: #333;
    font-family: 'Raleway', sans-serif;
}
.hero-intro #rotated {
    position: absolute;
    top: 50%;
    font-size: 16px;
    letter-spacing: 1px;
    left: 48%;
    transform: translate(-50%, -50%);
    animation: rotating 20s linear infinite;
}
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/******************************************************* Msg-Page *************************************************************/
#msg {
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
    background: url("../../Images/footer-img.jpeg") no-repeat 50% 50%;
    background-position: center center;
    background-size: cover;
}
#msg h2 {
    text-align: center;
    font-family: 'Lora', serif;
    color: #fff;
    font-size: 35px;
    letter-spacing: 1px;
    padding-top: 5%;
}
#msg p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 5%;
}
/******************************************************* Sub-Footer *************************************************************/
#sub {
    background: #333;
    margin-top: -4%;
    padding-top: 10%;
}
#sub form {
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sub form button {
    background: #C9B793;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 0%;
}
#sub h3 {
    text-align: center;
    font-family: 'Lora', serif;
    color: #fff;
    font-size: 35px;
    letter-spacing: 1px;
    padding-bottom: 4%;
}
#sub p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 1px;
    padding-bottom: 5%;
}
#sub ::placeholder {
    color: #8897A0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}
#sub input {
    border: transparent;
    border-radius: 0%;
}
/******************************************************* Footer *************************************************************/
footer p {
    margin-top: 5%;
    margin-bottom: 8%;
    text-align: center;
    color: #122947;
    font-size: 17px;
    font-family: 'Open Sans Condensed';
}
footer .footer-intro {
    margin-top: 10%;
    margin-bottom: 8%;
}
footer li {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Open Sans Condensed';
    list-style: none;
}
footer .faceB {
    margin-left: -40%;
    color: #023670;
}
footer .insta {
    padding-left: 30%;
    color: #cf95a6;
}
footer #second {
    background: transparent;
    display: block;
    display: inline-block;
    cursor: pointer;
}
footer #second::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #023670;
    transition: width .3s;
}
footer #second:hover::after {
    width: 100%;
    transition: width .3s;
    border: 1px solid transparent;
}
footer #third {
    background: transparent;
    display: block;
    display: inline-block;
    cursor: pointer;
}
footer #third::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #cf95a6;
    transition: width .3s;
}
footer #third:hover::after {
    width: 100%;
    transition: width .3s;
    border: 1px solid transparent;
}
/*************************************************** Media-Query **************************************************/
@media(min-width: 300px) {
    #mainNav.navbar-shrink {
        padding-top: 3px;
        padding-bottom: 3px;
        background-color: #fff;
    }
    #mainNav.navbar-color {
        padding-top: 3px;
        padding-bottom: 3px;
        background-color: #fcf1ee;
    }
}
/********************** Extra small devices (portrait phones, less than 576px) ****************************/
@media (max-width: 575.98px) { 
    .nav-item a {
    margin-left: -4%;
}
    .icon-cart {
    margin-left: -1%;
}
    #mainNav.navbar-shrink .navbar-toggler {
      top: 25px;
}
    #mainNav.navbar-shrink .navbar-toggler span {
      background: #122947;
}
    #mainNav.navbar-shrink .nav-link.active {
        color: #999 !important;
}
    #mainNav.navbar-shrink .nav-item a {
    color: #979797 !important;
}
    #mainNav.navbar-shrink .nav-link:hover {
           color: #999999 !important;
} 
}

/************************ Small devices (landscape phones, 576px and up) *****************************/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .nav-item a {
    margin-left: -1%;
}
    .navbar-brand #logo {
        margin-top: 2%;
}
    .nav-item .icon-cart {
    margin-left: -1%;
    width: 30px;
}
    .nav-item ion-icon {
    font-size: 19px;
    }
    #mainNav.navbar-shrink .nav-link.active {
        color: #999999 !important;
}
    #mainNav.navbar-shrink .nav-item a {
    color: #122947 !important;
    margin-left: -12%;
}
    #mainNav.navbar-shrink .nav-link:hover {
           color: #999 !important;
}
    #hero {
    margin-top: 25%;
        padding-bottom: 0%;
}
.hero-intro {
    margin: 5%;
}
.hero-intro h1 {
    font-size: 40px;
    margin-bottom: 2%;
}
.hero-intro h4 {
    margin-bottom: 2%;
    font-size: 20px;
}
.hero-intro p {
    margin-bottom: 0%;
    font-size: 15px;
}
.hero-intro #rotated {
    position: absolute;
    top: 95%;
    font-size: 17px;
    letter-spacing: 2px;
    left: 50%;
}
    
    #msg {
    margin-top: 30%;
    padding-top: 5%;
    padding-bottom: 0%;
}
#msg h2 {
    font-size: 40px;
    padding-top: 5%;
    padding-bottom: 0%;
}
#msg p {
    font-size: 15px;
    padding-top: 2%;
    padding-bottom: 10%;
}
#sub {
    padding-top: 5%;
}
#sub form {
    padding-bottom: 10%;
    float: right;
}
#sub form button {
    font-size: 17px;
    letter-spacing: 1px;
}
#sub h3 {
    font-size: 25px;
    padding-bottom: 2%;
}
#sub p {
    font-size: 15px;
    padding-bottom: 5%;
    color: #979797;
}
#sub ::placeholder {
    font-size: 14px;
    letter-spacing: 1px;
 }
    footer p {
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 17px;
    letter-spacing: 2px;
}
    footer .footer-intro {
    margin-top: 5%;
    margin-bottom: 0%;
}
    footer li {
    font-size: 18px;
    letter-spacing: 2px;
 }
}

/***************************** Medium devices (tablets, 768px and up) ********************************/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .nav-item a {
    margin-left: -1%;
}
    .navbar-brand #logo {
    width: 180px;
        margin-top: 2%;
}
    .nav-item .icon-cart {
    margin-left: -1%;
    width: 30px;
}
    .nav-item ion-icon {
    font-size: 19px;
    }
    #mainNav.navbar-shrink .nav-link.active {
        color: #999999 !important;
}
    #mainNav.navbar-shrink .nav-item a {
    color: #999 !important;
}
    #mainNav.navbar-shrink .nav-link:hover {
           color: #999 !important;
}
    #hero {
    margin-top: 25%;
        padding-bottom: 0%;
}
.hero-intro {
    margin: 5%;
}
.hero-intro h1 {
    font-size: 40px;
    margin-bottom: 2%;
}
.hero-intro h4 {
    margin-bottom: 2%;
    font-size: 20px;
}
.hero-intro p {
    margin-bottom: 0%;
    font-size: 15px;
}
.hero-intro #rotated {
    position: absolute;
    top: 38%;
    font-size: 17px;
    letter-spacing: 2px;
    left: 50%;
}
    
    #msg {
    margin-top: 30%;
    padding-top: 5%;
    padding-bottom: 0%;
}
#msg h2 {
    font-size: 40px;
    padding-top: 5%;
    padding-bottom: 0%;
}
#msg p {
    font-size: 15px;
    padding-top: 2%;
    padding-bottom: 10%;
}
#sub {
    padding-top: 5%;
}
#sub form {
    padding-bottom: 10%;
    float: right;
}
#sub form button {
    font-size: 17px;
    letter-spacing: 1px;
}
#sub h3 {
    font-size: 25px;
    padding-bottom: 2%;
}
#sub p {
    font-size: 15px;
    padding-bottom: 5%;
    color: #979797;
}
#sub ::placeholder {
    font-size: 14px;
    letter-spacing: 1px;
 }
    footer p {
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 17px;
    letter-spacing: 2px;
}
    footer .footer-intro {
    margin-top: 5%;
    margin-bottom: 0%;
}
    footer li {
    font-size: 18px;
    letter-spacing: 2px;
 }
}

/********************************** Large devices (desktops, 992px and up) *********************************/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .nav-item a {
    padding: 7px 25px !important;
    font-size: 15px;
    letter-spacing: 3px;
}
    .navbar-brand #logo {
    width: 190px;
    margin-top: 2%;
}
    .nav-item .icon-cart {
    width: 28px;
}
    .nav-item ion-icon {
        font-size: 19px;
    }
    #mainNav {
    background-color: transparent;
}
    #mainNav.navbar-shrink .nav-link.active {
        color: #999999 !important;
}
    #mainNav.navbar-shrink .nav-item a {
    color: #999999 !important;
}
    #mainNav.navbar-shrink .nav-link:hover {
           color: #999 !important;
}
    #hero {
    margin-top: 20%;
        padding-bottom: 0%;
}
.hero-intro {
    margin: 5%;
}
.hero-intro h1 {
    font-size: 45px;
    margin-bottom: 2%;
}
.hero-intro p {
    font-size: 18px;
    margin-bottom: 0%;
}
.hero-intro h4 {
    margin-bottom: 2%;
    font-size: 22px;
}
.hero-intro p {
    margin-bottom: 0%;
    font-size: 16px;
}
.hero-intro #rotated {
    position: absolute;
    top: 32%;
    font-size: 18px;
    letter-spacing: 2px;
    left: 50%;
}
    
    #msg {
    margin-top: 30%;
    padding-top: 5%;
    padding-bottom: 0%;
}
#msg h2 {
    font-size: 50px;
    padding-top: 5%;
    padding-bottom: 0%;
}
#msg p {
    font-size: 16px;
    padding-top: 2%;
    padding-bottom: 10%;
}
#sub {
    padding-top: 5%;
}
#sub form {
    padding-bottom: 10%;
    float: right;
}
#sub form button {
    font-size: 17px;
    letter-spacing: 1px;
}
#sub h3 {
    font-size: 30px;
    padding-bottom: 2%;
}
#sub p {
    font-size: 16px;
    padding-bottom: 5%;
    color: #979797;
}
#sub ::placeholder {
    font-size: 14px;
    letter-spacing: 1px;
 }
    footer p {
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 17px;
    letter-spacing: 2px;
}
    footer .footer-intro {
    margin-top: 5%;
    margin-bottom: 0%;
}
    footer li {
    font-size: 18px;
    letter-spacing: 2px;
 }
}

/************************ Extra large devices (large desktops, 1200px and up) ********************************/
@media (min-width: 1200px) {
    .nav-item a {
    padding: 7px 25px !important;
    font-size: 16px;
    letter-spacing: 3px;
}
    .navbar-brand #logo {
    width: 180px;
        margin-top: 2%;
}
    .nav-item .icon-cart {
    width: 30px !important;
}
    .nav-item ion-icon {
        font-size: 20px;
    }
    #mainNav {
    background-color: transparent;
}
    #mainNav.navbar-shrink .nav-link.active {
        color: #999999 !important;
}
    #mainNav.navbar-shrink .nav-item a {
    color: #999 !important;
}
    #mainNav.navbar-shrink .nav-link:hover {
           color: #5e62d1 !important;
}
    #hero {
    margin-top: 15%;
        padding-bottom: 0%;
}
.hero-intro {
    margin: 5%;
}
.hero-intro h1 {
    font-size: 65px;
    margin-bottom: 2%;
}
.hero-intro p {
    font-size: 18px;
    margin-bottom: 0%;
}
.hero-intro h4 {
    margin-bottom: 2%;
    font-size: 25px;
}
.hero-intro p {
    margin-bottom: 0%;
    font-size: 18px;
}
.hero-intro #rotated {
    position: absolute;
    top: 62%;
    font-size: 19px;
    letter-spacing: 2px;
    left: 50%;
}
    
    #msg {
    margin-top: 20%;
    padding-top: 5%;
    padding-bottom: 0%;
}
#msg h2 {
    font-size: 60px;
    padding-top: 5%;
    padding-bottom: 0%;
}
#msg p {
    font-size: 18px;
    padding-top: 2%;
    padding-bottom: 10%;
}
#sub {
    padding-top: 5%;
}
#sub form {
    padding-bottom: 10%;
    float: right;
}
#sub form button {
    font-size: 17px;
    letter-spacing: 1px;
}
#sub h3 {
    font-size: 35px;
    padding-bottom: 2%;
}
#sub p {
    font-size: 17px;
    padding-bottom: 5%;
}
#sub ::placeholder {
    font-size: 14px;
    letter-spacing: 1px;
 }
    footer p {
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 17px;
    letter-spacing: 2px;
}
    footer .footer-intro {
    margin-top: 5%;
    margin-bottom: 0%;
}
    footer li {
    font-size: 18px;
    letter-spacing: 2px;
 }
}